@model Hotels.Model.Passenger

@{
    ViewBag.Title = "Delete";
}


<div class="col-md-12 jumbotron">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center">@Html.DisplayNameFor(model => model.Name)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Family)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Age)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Sex)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.NationalCode)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Location)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.PassportNumber)</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <td>@Html.DisplayFor(model => model.Name)</td>
                <td>@Html.DisplayFor(model => model.Family)</td>
                <td>@Html.DisplayFor(model => model.Age)</td>
                <td>@Html.DisplayFor(model => model.Sex)</td>
                <td>@Html.DisplayFor(model => model.NationalCode)</td>
                <td>@Html.DisplayFor(model => model.Location)</td>
                <td>@Html.DisplayFor(model => model.PassportNumber)</td>
            </tr>
        </tbody>
    </table>
    <h3>
        آیا میخواهید این اطلاعات را حذف کنید ؟
    </h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a href="@Url.Action("Index")" class="btn btn-success">
                برگشت به لیست مسافران
            </a>
        </div>
    }
</div>
