@model IEnumerable<HotelWebSite.ViewModels.PassengerGuestInfo>

@{
    ViewBag.Title = "ListPlus";
}

<h2>ListPlus</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.P_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_Family)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.G_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.G_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.G_Family)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.G_Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.G_NationalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.G_Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.G_PassengerId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.P_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_Family)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G_Family)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G_Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G_NationalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G_Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.G_PassengerId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
