@model IEnumerable<Hotels.Model.Suit>
@{
    ViewBag.Title = "جست و جو";

}

<p >
    @Html.ActionLink("Create New", "Create")
</p>
<div class="col-sm-12 jumbotron success">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>تاریخ ورود</th>
                <th>تاریخ خروج</th>
                <th>تعداد روزهای اقامت</th>
                <th>تعداد افراد بزرگسال</th>
                <th>تعداد افراد خردسال</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Session["DateIn"]</td>
                <td>@Session["DateOut"]</td>
                <td>@ViewBag.Day</td>
                <td>@Session["NumbeerOfPerson"]</td>
                <td>@Session["NumberOfChild"]</td>
            </tr>
        </tbody>
    </table>
</div>
@foreach (var item in Model)
{
    <div class="col-sm-10  col-sm-pull-1 " style="background-color:aliceblue;margin-top:25px;margin-bottom:25px;">
        <div class="row">
            <div class="col-sm-12" style=" min-height:50px;">
                <div class="col-sm-6" style="background-color:green;">
                    <div class="row">
                        <img src="@item.PhotoPath" style="width:460px;height:280px;" />
                    </div>
                </div>
                <div class="col-sm-6" style="background-color:aliceblue;min-height:200px;">
                    <div class="col-sm-12" style="margin-top:5px;font-size:17px;color:black;min-height:200px;">
                         @Html.DisplayFor(modelItem => item.Title) <br />
                        <span style="font-size:13px;" class="glyphicon glyphicon-certificate"></span> @Html.DisplayNameFor(model => model.Floor) : @Html.DisplayFor(modelItem => item.Floor) <br />
                        <span style="font-size:13px;" class="glyphicon glyphicon-user"></span> @Html.DisplayNameFor(model => model.Capacity) : @Html.DisplayFor(modelItem => item.Capacity) <br />
                        <span style="font-size:13px;" class="glyphicon glyphicon-bed"></span> @Html.DisplayNameFor(model => model.NumberOfBeds) : @Html.DisplayFor(modelItem => item.NumberOfBeds) <br />
                        <ul style="font-size:13px;">@Html.DisplayNameFor(model => model.NumberOfSingleBeds) : @Html.DisplayFor(modelItem => item.NumberOfSingleBeds)</ul>
                        <ul style="font-size:13px;">@Html.DisplayNameFor(model => model.NumberOfDoubleBeds) : @Html.DisplayFor(modelItem => item.NumberOfDoubleBeds)</ul>
                        <span style="font-size:13px;" class="glyphicon glyphicon-certificate"></span> @Html.DisplayNameFor(model => model.NumberOfRoom) : @Html.DisplayFor(modelItem => item.NumberOfRoom) <br />
                        <span style="font-size:13px;" class="glyphicon glyphicon-usd"></span> @Html.DisplayNameFor(model => model.Price) : <span style="color:red;">@{var x = item.Price; x *= ViewBag.Day; } @{ ViewBag.Price = $"{x:###,#}"; } @ViewBag.Price تومان</span> <br />
                        <br />
                        <a class="btn btn-success" href="@Url.Action("Create","Booking",new { id = item.Id , Price = x })">رزرو</a>
                    </div>
                    @*<ul>@item.Capacity</ul>
                        <ul>@item.Floor</ul>*@
                </div>
            </div>
        </div>
        <div class="row">
            <hr />
            امکانات :
            <br />
            <br />
        </div>
    </div>
}