<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme-rtl.css" rel="stylesheet" />
    <link href="~/Content/Main.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">هتل سرخوشان</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index","Home")">خانه</a></li>
                <li><a href="@Url.Action("Menu","Employee")">مدیریت کارمند ها</a></li>
                <li><a href="@Url.Action("Index","Passenger")">مدیریت مسافرها</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right pull-left">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav> 
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @if (TempData["Message"] != null)
            {
                    <div class="alert alert-info">
                        <strong>@TempData["Message"]</strong>
                    </div>
                }
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
