@model Hotels.Model.Employee
@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm("Edit", "Employee", FormMethod.Post,
                                        new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new
       {
           @class = "form-control",
           placeholder = "نام"
       })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Family, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Family, new
       {
           @class = "form-control",
           placeholder = "نام خانوادگی"
       })
            @Html.ValidationMessageFor(m => m.Family, "", new { @class = "text-danger" })


        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NationalCode, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NationalCode, new
       {
           @class = "form-control",
           placeholder = "کد ملی"
       })
            @Html.ValidationMessageFor(m => m.NationalCode, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Age, new
       {
           @class = "form-control",
           placeholder = "سن"
       })
            @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">جنسیت</label>
        <div class="col-md-5">
            <label for="Sex-man">مرد</label>
            <input type="radio" name="Sex" id="Sex-man" value="Man" />
        </div>
        <div class="col-md-5">
            <label for="Sex-female">زن</label>
            <input type="radio" name="Sex" id="Sex-female" value="Female" />
        </div>

    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Location, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Location, new
       {
           @class = "form-control",
           placeholder = "آدرس"
       })
            @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Username, new
       {
           @class = "form-control",
           placeholder = "نام کاربری"
       })
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new
       {
           @class = "form-control",
           placeholder = "رمز عبور"
       })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <button class="btn btn-sm btn-success pull-left" type="submit">
            <span class="glyphicon glyphicon-save"></span>
            ذخیره
        </button>
    </div>
}





@*<form method="post" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2" for="Name">نام</label>
        <div class="col-md-10">
            <input type="text" name="Name" id="Name" placeholder="نام" class="form-control" value="@Model.Name"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Family">نام خانوادگی</label>
        <div class="col-md-10">
            <input type="text" name="Family" id="Family" placeholder="نام خانوادگی" class="form-control" value="@Model.Family"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="Age">سن</label>
        <div class="col-md-10">
            <input type="number" name="Age" id="Age" placeholder="سن" class="form-control" value="@Model.Age"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">جنسیت</label>
        <div class="col-md-5">
            <label for="Sex-man">مرد</label>
            <input type="radio" name="Sex" id="Sex-man" value="Man" />
        </div>
        <div class="col-md-5">
            <label for="Sex-female">زن</label>
            <input type="radio" name="Sex" id="Sex-female" value="Female" />
        </div>

    </div>


    <div class="form-group">
        <label class="control-label col-md-2" for="NationalCode">شماره شناسنامه</label>
        <div class="col-md-10">
            <input type="text" name="NationalCode" id="NationalCode" placeholder="شماره شناسنامه" class="form-control" value="@Model.NationalCode"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="Location">آدرس</label>
        <div class="col-md-10">
            <input type="text" name="Location" id="Location" placeholder="آدرس" class="form-control" value="@Model.Location"/>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2" for="Username">نام کاربری</label>
        <div class="col-md-10">
            <input type="text" name="Username" id="Username" placeholder="نام کاربری" class="form-control" value="@Model.Username"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="PasswordHash">کلمه عبور</label>
        <div class="col-md-10">
            <input type="password" name="PasswordHash" id="PasswordHash" placeholder="کلمه عبور" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <input type="hidden" value="@Model.Id" />
        <button class="btn btn-success btn-sm pull-left" type="submit" name="bt">
            <span class="glyphicon glyphicon-save"></span>
            ذخیره
        </button>
    </div>
</form>*@

