@model IEnumerable<Hotels.Model.Employee>
@{
    ViewBag.Title = "Index";
}

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">عکس</th>
            <th class="text-center">نام</th>
            <th class="text-center">نام خانوادگی</th>
            <th class="text-center">سن</th>
            <th class="text-center">جنسیت</th>
            <th class="text-center">نام کاربری</th>
            <th class="text-center">آدرس</th>
            <th class="text-center">عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    <img src="@item.PhotoPath" style="max-height:60px" class="img-thumbnail" />
                </td>
                <td>@item.Name</td>
                <td>@item.Family</td>
                <td>@item.Age</td>
                <td>@item.Sex</td>
                <td>@item.Username</td>
                <td>@item.Location</td>
                <td>
                    <a href="@Url.Action("Delete","Employee",new { id = item.Id })" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    |
                    <a href="@Url.Action("Edit","Employee",new { id = item.Id })" class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row text-center">
    <a href="/Employee/Create" class="btn btn-primary btn-sm">
        ADD
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>

